@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;1,600&family=Playfair+Display:ital,wght@0,400;0,500;1,600&display=swap");
#mainBody, #bodyAb, #bodyForm, #bodyVel, #bodyTar {
  background-image: url(../Imagenes/arcana_home.JPG);
}

#bodyAb, #bodyForm {
  background-image: url(../Imagenes/aboutBackground.jpg);
}

#bodyForm {
  background-image: url(../Imagenes/formbackground.jpg);
}

#bodyVel {
  background-image: url(../Imagenes/velomanciaBackground.jpg);
}

#bodyTar {
  background-image: url(../Imagenes/tarotBackground.jpg);
}

@media all and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    height: 12vh;
    width: 100%;
  }
  .header__nav li {
    display: inline-block;
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 0.5em;
  }
  .footer p {
    font-size: 22px;
  }
  #formTitle h1 {
    font-size: 80px;
  }
  .about h1 {
    font-size: 80px;
  }
  .about p {
    font-size: 24px;
  }
  .contVel, .contTar {
    margin-left: 4em;
    margin-right: 4em;
  }
  .contVel section, .contTar section {
    padding: 2em;
  }
  .contVel h3, .contTar h3 {
    padding: 1em;
  }
  .contVel h1, .contTar h1 {
    padding: 1rem;
    font-size: 100px;
  }
  .contVel__info {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
  }
  .contTar {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
  }
  .textTar {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#mainBody, #bodyAb, #bodyForm, #bodyVel, #bodyTar {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #00000059;
  font-size: 16px;
  height: 8vh;
  width: 100%;
}

.header__nav li {
  display: inline-block;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 0.2em;
}

.header__nav li a {
  color: #f8f9fa;
  text-decoration: none;
}

.titulos {
  display: flex;
  flex-direction: column;
  background-color: #00000059;
  margin: 10vh;
}

.mainTitulo {
  font-family: 'Playfair Display', serif;
  font-size: 80px;
  padding-left: 3vh;
  color: #f8f9fa;
}

.subtitulo {
  font-style: italic;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  color: #f8f9fa;
  margin-left: 1.5em;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-content: flex-end;
  flex-wrap: nowrap;
  flex-direction: column;
  margin: 1em;
  bottom: 0;
  font-family: 'Montserrat', sans-serif;
}

.footer p {
  color: black;
  font-size: 16 px;
}

#bodyAb, #bodyForm {
  background-size: auto;
  background-repeat: repeat;
}

.about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: center;
  margin: 2em;
  justify-content: space-evenly;
  border-radius: 1rem;
  background-color: #9e9e9e99;
  text-align: center;
}

.about h1 {
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 0.5em;
}

.about p {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 0.5em;
}

#formTitle {
  justify-content: center;
  margin: 5vh;
  background-color: #9e9e9e99;
  color: #f8f9fa;
}

#formTitle h1 {
  font-family: 'Playfair Display', sans-serif;
}

#formulario {
  margin: 5vh;
  background-color: #9e9e9e99;
}

#formulario form {
  flex-direction: column;
}

#formulario button {
  color: black;
  background-color: #fdb30d7a;
  border-color: #ffeb3b;
}

#bodyVel {
  font-size: 1rem;
  color: black;
}

.contVel, .contTar {
  background-color: #c78f55a8;
  border-radius: 1rem;
  text-align: center;
  grid-template-areas: "contVel__intro" "contVel__info" "footer";
  margin-left: 2em;
  margin-right: 2em;
}

.contVel section, .contTar section {
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  padding: 1em;
  background-color: #9e9e9e99;
}

.contVel h1, .contTar h1 {
  padding: 1rem;
}

.contVel h2, .contTar h2 {
  margin-top: 0.5em;
}

.contVel h3, .contTar h3 {
  padding: 1em;
}

.secImg {
  margin-top: 0.5em;
}

#boton {
  display: flex;
  margin-top: 5vh;
  margin-left: 5vh;
  margin-right: 5vh;
  margin-bottom: 2vh;
  justify-content: center;
}

.btn-primary {
  color: black;
  background-color: #fdb30d7a;
  border-color: #ffeb3b;
}

#bodyTar section {
  display: flex;
  flex-direction: column;
}

.contTar {
  display: flex;
  padding: 2em;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.contTar h1 {
  text-align: center;
  padding: 0.5rem;
}

.contTar h3 {
  text-align: center;
}

.contTar p {
  text-align: justify;
}

.textTar {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
}

.textTar p {
  padding: 0.5rem;
}

.imgTar {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 1em;
  padding: 1em;
}
