#mainBody{
	background-image: url(../imagenes/arcana_home.JPG);
}
#bodyAb{
	background-image: url(../imagenes/aboutBackground.jpg);
}
#bodyForm{
	background-image: url(../imagenes/formbackground.jpg);
}
#bodyVel{
	background-image: url(../imagenes/velomanciaBackground.jpg);
}
#bodyTar{
	background-image: url(../imagenes/tarotBackground.jpg);
}