#mainBody{
	background-image: url(../Imagenes/arcana_home.JPG);
}
#bodyAb{
	background-image: url(../Imagenes/aboutBackground.jpg);
}
#bodyForm{
	background-image: url(../Imagenes/formbackground.jpg);
}
#bodyVel{
	background-image: url(../Imagenes/velomanciaBackground.jpg);
}
#bodyTar{
	background-image: url(../Imagenes/tarotBackground.jpg);
}