@import "fuentes";
@import "imagenes";
@import "mediaqueries";
*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
#mainBody{
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
}
.header{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	background-color: #00000059;
	font-size: 16px;
	height: 8vh;
	width: 100%;
}
.header__nav li{
	display: inline-block;
	margin-top: 1em;
	margin-left: 0.2em;
	margin-right: 0.5em;
	margin-bottom: 0.2em;
	ul{
		padding-left: 0!important;
	}
	a{
		color: #f8f9fa;
		text-decoration: none;
	}
}
.titulos{
	display: flex;
	flex-direction: column;
	background-color: #00000059; 
	margin: 6vh;
}
.mainTitulo{
	font-family: 'Playfair Display', serif;
	font-size: 70px;
	padding-left: 3vh;
	color: #f8f9fa;
}
.subtitulo{
	font-style: italic;
	font-family: 'Playfair Display', serif;
	font-size: 40px;
	color: #f8f9fa;
	margin-left: 1.5em;
}
.footer{
	display: flex;
	align-items: center;
    justify-content: flex-end;
    align-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: column;
	margin: 1em;
	bottom:0;
	font-family: 'Montserrat', sans-serif;
		p{
		color: black;
		font-size:16 px;
	}
}
#bodyAb{
	@extend #mainBody;
	background-size: auto;
	background-repeat: repeat;
}
.about{
	display:flex;
	flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
    margin: 2em;
    justify-content: space-evenly;
    border-radius: 1rem;
    background-color: #9e9e9e99;
	text-align: center;
		h1{
			margin-top: 1em;
			margin-left: 1em;
			margin-right: 1em;
			margin-bottom: 0.5em;
			}
		p{
		margin-left: 1em;
		margin-right: 1em;
		margin-bottom: 0.5em;
	}
}
#bodyForm{
	@extend #bodyAb;
}
#formTitle{
	justify-content: center;
	margin: 5vh;
	background-color:#9e9e9e99;
	color: #f8f9fa;
		h1{
		font-family: 'Playfair Display', sans-serif;
	}
}
#divForm{
	margin: 5vh;
	background-color: #9e9e9e99;
	form{
	flex-direction: column;
	}
	button{
	color: black;
    background-color: #fdb30d7a;
    border-color: #ffeb3b;
	}
}

#bodyVel{
	@extend #mainBody;
	font-size: 1rem;
	color: black;
}
.contVel{
	background-color: #c78f55a8;
	border-radius: 1rem;
	text-align: center;
	grid-template-areas:
		"contVel__intro"
		"contVel__info"
		"footer";
		margin-left:2em;
		margin-right:2em;
		section{
			margin-top:1em;
			margin-left: 1em;
			margin-right:1em;
			padding:1em;
			background-color:#9e9e9e99;
		}
		h1{
			padding:1rem;
		}
		h2{
			margin-top:0.5em;
		}
		h3{
			padding:1em;
		}
}
.secImg{
	margin-top:0.5em;

}
#boton{
	display: flex;
	margin-top: 5vh;
	margin-left: 5vh;
	margin-right: 5vh;
	margin-bottom: 2vh;
	justify-content: center;
}
.btn-primary {
    color: black;
    background-color: #fdb30d7a;
    border-color: #ffeb3b;
}
#bodyTar{
	@extend #mainBody;
	section{
			display:flex;
			flex-direction:column;
		}
}
.contTar{
	@extend .contVel;
	display: flex;
	padding: 2em;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: center;
	justify-content:space-around;
	align-items:center;
		h1{
			text-align:center;
			padding:0.5rem;
	}
		h3{
			text-align:center;
	}
		p{
			text-align:justify;
	}
}
.textTar{
	display:flex;
	flex-direction:column;
	padding:1rem;
	align-items:center;
		p{
		padding:0.5rem;
	}
}
.imgTar{
	display:flex;
	flex-direction:column;
	align-content:center;
	margin:1em;
	padding:1em;
}
